@font-face {
  font-family: "Sf Pro Regular";
  font-weight: 400;
  src: url("../fonts/sfpro-display-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Sf Pro Semibold";
  font-weight: 600;
  src: url("../fonts/sfpro-display-semibold.woff2") format("woff2");
}
:root {
  --regular-font: "Sf Pro Regular", sans-serif;
  --semibold-font: "Sf Pro Semibold", sans-serif;
  --color-light: #fff;
  --color-dark: #000;
  --color-grey: #f7f7f7;
  --color-green: #00a900;
}

html {
  scrollbar-color: #bcbcbc #e0e0e0;
  scrollbar-width: thin;
}
html::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
html::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
}
html::-webkit-scrollbar {
  width: 8px;
}

body {
  font-family: var(--regular-font);
  background-color: var(--color-light);
  color: var(--color-dark);
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
.container_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.container_feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 43px;
}
.container_pros {
  padding: 0;
}
.container_characteristics {
  padding: 50px 20px 80px 20px;
  max-width: 768px;
}
.container_set {
  padding: 0;
  max-width: 992px;
  padding-bottom: 50px;
}

.head__title,
.head__text {
  font-size: 22px;
  font-family: var(--semibold-font);
  text-align: center;
  position: relative;
  z-index: 2;
}

.head__text {
  max-width: 480px;
}

.head__logo-wrapper {
  max-width: 80px;
  margin-bottom: 13px;
}

.head__title-block {
  display: flex;
  flex-direction: column;
}

.head__logo {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.head__main-img-wrapper {
  max-width: 200px;
  margin: 30px 0;
}

.head__main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 1;
}

.banner {
  background-color: var(--color-grey);
  height: 370px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.banner__img-wrapper {
  height: 100%;
}

.banner__img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner__text {
  margin: 0 auto;
  display: none;
  font-family: var(--semibold-font);
}

.feature__title {
  text-align: center;
  margin-bottom: 27px;
}

.feature__img-wrapper {
  max-width: 400px;
}

.feature__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.pros__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 7px;
}

.pros__grid-item {
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
  min-height: 100px;
  padding: 10px;
}
.pros__grid-item_large {
  background-image: url(../images/content/pros-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;
}
.pros__grid-item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.pros__grid-item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 4;
}
.pros__grid-item:nth-child(3) {
  grid-row-start: 3;
  grid-row-end: 5;
}
.pros__grid-item:nth-child(4) {
  grid-row-start: 4;
  grid-row-end: 5;
}

.pros__text {
  font-family: var(--semibold-font);
  text-align: center;
  font-size: 13px;
  line-height: 1;
}
.pros__text_large {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 83px;
}

.pros__title {
  font-size: 30px;
  line-height: 1;
  color: var(--color-green);
  font-family: var(--semibold-font);
}

.pros__logo-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.pros__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.characteristics__list {
  display: flex;
  margin-top: 35px;
  grid-gap: 10px;
}

.characteristics__title {
  text-align: center;
  font-family: var(--semibold-font);
  font-size: 22px;
}

.characteristics__column {
  flex-basis: 50%;
}

.characteristics__column {
  display: flex;
  flex-direction: column;
  grid-gap: 51px;
}

.characteristics__item {
  font-family: var(--regular-font);
  font-size: 14px;
  position: relative;
}
.characteristics__item:before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  position: absolute;
  bottom: -26px;
  left: 0;
  border-bottom: 1px solid var(--color-dark);
}
.characteristics__item:last-child:before {
  display: none;
}

.set__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 7px;
}

.set__grid-item {
  background-color: var(--color-grey);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}
.set__grid-item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../images/backgrounds/set-clock.jpg);
  background-size: 80%;
  background-position: 57% 66%;
}
.set__grid-item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(../images/backgrounds/set-belt.jpg);
  background-size: 100%;
  background-position: 0% 56%;
}
.set__grid-item:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(../images/backgrounds/set-usb.jpg);
  background-size: 80px;
  background-position: 50% 100%;
}

.set__grid-title {
  font-family: var(--semibold-font);
  position: absolute;
  top: 20px;
  text-align: center;
  font-size: 13px;
  max-width: 80%;
}

.set__grid-title_large {
  font-size: 18px;
  top: 60px;
}

@media (min-width: 480px) {
  .head__title-block {
    flex-direction: row;
    grid-gap: 6px;
  }
  .feature__title {
    font-size: 22px;
  }
  .pros__text {
    font-size: 15px;
  }
  .pros__text_large {
    max-width: 100px;
  }
  .characteristics__title {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .pros__text {
    font-size: 18px;
    max-width: 190px;
  }
  .pros__text_large {
    max-width: 121px;
  }
  .pros__logo-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  .pros__grid-item {
    min-height: 130px;
  }
  .characteristics__item {
    font-size: 16px;
  }
  .characteristics__list {
    grid-gap: 20px;
  }
  .set__grid {
    border-radius: 25px;
    overflow: hidden;
    margin: 0 20px;
  }
  .set__grid-item {
    min-height: 320px;
  }
  .set__grid-item:nth-child(1) {
    background-size: 60%;
    background-position: 57% 66%;
  }
  .set__grid-item:nth-child(2) {
    background-size: 100%;
    background-position: 0% 60%;
  }
  .set__grid-item:nth-child(3) {
    background-size: 130px;
    background-position: 50% 100%;
  }
  .set__grid-title {
    font-size: 20px;
    top: 30px;
  }
  .set__grid-title_large {
    font-size: 30px;
    top: 70px;
  }
}
@media (min-width: 768px) {
  .head__title-block {
    flex-direction: column;
    grid-gap: 0;
  }
  .head__logo-wrapper {
    max-width: 120px;
  }
  .head__title {
    font-size: 28px;
  }
  .head__title:nth-child(1) {
    transform: translateX(-30%);
  }
  .head__title:nth-child(2) {
    transform: translateX(30%);
  }
  .head__text {
    font-size: 28px;
    max-width: 600px;
  }
  .head__main-img-wrapper {
    max-width: 300px;
  }
  .banner {
    margin: 25px 20px;
    max-width: 1340px;
    border-radius: 25px;
    position: relative;
  }
  .banner__text {
    display: block;
    font-size: 28px;
    max-width: 300px;
  }
  .container_feature {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .feature__title {
    max-width: 300px;
    font-size: 28px;
  }
  .feature__img-wrapper {
    width: 500px;
  }
  .pros__grid {
    border-radius: 25px;
    overflow: hidden;
  }
  .container_pros {
    padding: 0 20px;
  }
  .pros__title {
    font-size: 38px;
  }
  .pros__grid-item {
    padding: 15px;
  }
  .pros__grid-item {
    min-height: 180px;
  }
  .characteristics__list {
    grid-gap: 30px;
  }
  .characteristics__title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .banner__text {
    max-width: unset;
  }
  .feature__title {
    max-width: unset;
  }
  .pros__text {
    font-size: 22px;
    max-width: 225px;
  }
  .pros__text_large {
    position: relative;
    top: unset;
    left: unset;
    max-width: 250px;
  }
}
@media (min-width: 1200px) {
  .head__title {
    font-size: 36px;
  }
  .head__title:nth-child(1) {
    transform: translateX(-30%);
  }
  .head__title:nth-child(2) {
    transform: translateX(30%);
  }
  .head__text {
    font-size: 36px;
    max-width: 992px;
  }
  .head__main-img-wrapper {
    max-width: 340px;
  }
  .banner {
    height: 440px;
  }
  .banner__text {
    font-size: 36px;
  }
  .feature__title {
    font-size: 36px;
  }
}
@media (min-width: 1380px) {
  .banner {
    margin: 25px auto;
  }
}/*# sourceMappingURL=style.css.map */